.article-title{
    font-weight: bold;
    font-size: 1.5em;
  }

  .article-body{
    border-top: 1px solid #eaeaea;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .article-meta-info{
    border-top: 1px solid #eaeaea;
    margin-top: 15px;
    font-style: italic
    
  }